Django==3.0.5
django-cors-headers==3.7.0
django-widget-tweaks==1.4.8
djangorestframework==3.11.0
djangorestframework-simplejwt==4.7.2
djongo==1.3.7
pymongo==3.11.4
mongoengine==0.27.0
python-decouple==3.8
python-dotenv==1.0.0
pytz
requests
whitenoise==6.5.0
gunicorn==20.1.0
pillow
sqlparse==0.2.4
asgiref
cryptography
PyJWT==2.1.0
pypdf
reportlab
xhtml2pdf==0.2.5
arabic-reshaper
python-bidi
cssselect2
html5lib
tinycss2
lxml
cffi
certifi
charset-normalizer
idna
urllib3
webencodings
tzdata
tzlocal
uritools
dnspython
oscrypto
asn1crypto
pycparser
pyHanko
pyhanko-certvalidator
PyYAML
freetype-py
setuptools
six

